@import 'highlight.js/styles/stackoverflow-light.css';

:root {
  font-family: dinosaur, sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ifm-code-background: #f6f7f8; /* Example background color */
  --ifm-code-border-radius: 0.4rem; /* Example border radius */
  --ifm-code-font-size: 95%; /* Example font size */
  --ifm-code-padding-vertical: 0.1rem; /* Example vertical padding */
  --ifm-code-padding-horizontal: 0.1rem; /* Example horizontal padding */
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

p {
  margin: 10px 0;
}

code {
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-code-border-radius);
  font-size: var(--ifm-code-font-size);
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
}

.logo {
  height: 1.6em;
  vertical-align: middle;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.hljs {
  border-radius: 10px;
  padding: 14px;
  overflow: auto;
  box-sizing: content-box;
}

.appollo-ide-explorer iframe {
  min-height: 500px;
}
